{% set published_ports_udp = [] %}
{% set published_ports_tcp = [] %}
{% for port in published_ports %}
{% if port | search('udp') %}
{% do published_ports_udp.append(port[1:].split('/')[0]) %}
{% else %}
{% do published_ports_tcp.append(port[1:].split('/')[0]) %}
{% endif %}
{% endfor %}

kind: Service
apiVersion: v1
metadata:
  namespace: "{{ k8s_namespace }}"
  name: "{{ container_name | regex_replace('_','-') }}"
  labels:
    service_group: "{{ service_group | regex_replace('_','-') | default('none') }}"
    app_name: "{{ container_name | regex_replace('_','-') }}"
    trilogy.v3.mapped-ip: {{ k8s_ip_private }}
{% if published_ports_tcp %}
{% if published_ports_tcp | join (".") | regex_replace(':','') | length < 63 %}
    trilogy.v3.mapped-ports-tcp: "{{ published_ports_tcp | join (".") | regex_replace(':','') }}"
{% else %}
    trilogy.v3.mapped-ports-tcp: "1-65536"
{% endif %}
{% endif %}
{% if published_ports_udp %}
{% if published_ports_udp | join (".") | regex_replace(':','') | length < 63 %}
    trilogy.v3.mapped-ports-udp: "{{ published_ports_udp | join (".") | regex_replace(':','') }}"
{% else %}
    trilogy.v3.mapped-ports-udp: "1-65536"
{% endif %}
{% endif %}
    trilogy.v3.smart-nat-l3: service
spec:
  type: ClusterIP
  selector:
    app: "{{ container_name | regex_replace('_','-') }}"
  ports:
  - name: dummy-port-{{ container_name | regex_replace('_','-') }}
    protocol: TCP
    port: 1
