all:
  vars:
    environment_name: dev
    project: app

vmware-group:
  vars:
    ansible_connection: local
    vsphere_host: "vcenter-1.vmware.central.local"
    vsphere_user: "<AD-login>@devfactory.local"
    vsphere_datacenter: "SDDC-Datacenter"
    # if vsphere_password is not specified the env variable VMWARE_PASSWORD is used
    #vsphere_password: ""
    vsphere_folder: "Workloads/Jervis"
    vsphere_resource_pool: "Compute-ResourcePool"
    # https://www.vmware.com/support/developer/converter-sdk/conv55_apireference/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
    vm_guest_id: ubuntu64Guest
    vm_memory: 2048
    vm_vcpu: 2
    vm_template: "Ubuntu16.04-Template"
    vm_name: "{{ project }}-{{ environment_name }}"
    vsphere_datastore: vsanDatastore
    vm_state: poweredon
    vm_state_change_force: yes
    vm_disk:
      - size_gb: 2
        type: thin
        datastore: '{{ vsphere_datastore }}'
      - size_gb: 2
        type: thin
        datastore: '{{ vsphere_datastore }}'
      - size_gb: 16
        type: thin
        datastore: '{{ vsphere_datastore }}'
  hosts:
    vmware-create-host:

k8s-group:
  vars:
    ansible_connection: local
    # how to get api_key see here
    # https://github.com/trilogy-group/aurea-eng-ansible-generic/tree/master/examples/api-setup
    api_key: ''
    api_host: 'k8s.aureacentral.com:6443'
    deployment_strategy: replace
    namespace: "{{ project }}-{{ environment_name }}"
    k8s_hostname: k8s-st-node-1
    restart_policy: Always

    # imagePullPolcy for k8s (Always, Never, IfNotPresent)
    image_pull_policy: Always

    resources_limits_cpu: 1
    resources_limits_memory: "2Gi"
    resources_requests_cpu: 0.25
    resources_requests_memory: "1Gi"

    container_base_image: "registry2.swarm.devfactory.com/aurea/central/test"
    container_image_tag: "latest"

  children:
    k8s-deployment-group:
    k8s-service-group:
    k8s-ingress-group:

k8s-deployment-group:
  hosts:
    k8s-deployment-host:
      definitions:
        service1:
          definition:
            spec:
              template:
                spec:


k8s-service-group:
  hosts:
    k8s-service-host:
      definitions:
        service1:
          definition:
            spec:
              ports:
              - name: port-80-tcp
                protocol: TCP
                port: 80

k8s-ingress-group:
  hosts:
    k8s-ingress-host:
      definitions:
        service1:
          definition:
            metadata:
              annotations:
                ingress.kubernates.io/rewrite-target: /
            spec:
              rules:
              - host: PROJECT_HOST.aureacentral.com
                http:
                  paths:
                  - path: /
                    backend:
                      serviceName: "{{ environment_name }}-{{ project }}-service1"
                      servicePort: 80
