all:
  # global_k8s vars
  vars:
    project: PROJECT_NAME
    mode: dev
    stage: dev
    container_base_image: registry2.swarm.devfactory.com/aurea/test
    k8s_pod_type: deployment
    k8s_deployment_strategy: recreate
    k8s_automount_service_account_token: false
    k8s_resources_request_cpu: 0.25
    k8s_resources_limit_cpu: 1
    k8s_resources_request_memory: "2Gi"
    k8s_resources_limit_memory: "3Gi"
    k8s_container_restart_policy: "Always"
    # api or cli mode
    k8s_mode: "api"
    k8s_insecure: false
    k8s_namespace: "test-{{ stage }}"
    k8s_update_strategy: "replace"
    global_env_variables:
      VARIABLE_NAME: "VARIABLE_VALUES"
    global_ports:
      - ":80"
    global_volumes:
      - "/srv/docker_volumes/container_dataX/{{ k8s_namespace }}/volumes/{{container_name}}/var:/var:rw"
    # by default use US cluster credentials
    k8s_node: k8s-st-node-1
    k8s_certificate_authority_data: ""
    k8s_api_endpoint: "k8s.aureacentral.com:6443"
    k8s_service_token: ""

k8s-service:
  children:
    dl1.aureacentral.com
 
env:
 - ANSIBLE_VAULT_PASSWORD_FILE=.ansible-vault-password

dl1.aureacentral.com:
  vars:
    ansible_host: localhost
    ansible_connection: local
    labels:
      com.trilogy.company: "aurea"
      com.trilogy.team: "central"
      com.trilogy.product: "central"
      com.trilogy.service: <SERVICE_NAME>
      com.trilogy.stage: "{{ environment_name }}"
      com.trilogy.maintainer.skype: ""
      # SERVICE_NAME: prod_central_<SERVICE_NAME>
      # SERVICE_TAGS: trilogy.expose-v2,trilogy.http,trilogy.endpoint=*.aureacentral.com
  hosts:
    <HOSTNAME>:
      container_image_tag: <IMAGE_TAG_HERE>
      k8s_ingress_hosts:
        - "{{ project }}{% if stage != 'prod' %}{{'-' + stage}}{% endif %}.<DOMAIN_NAME>"
      k8s_service_visibility: public
      service_ports:
        - ":80"
      docker:
        - name: example-group
          services:
            - example
